@font-titillium-web: 'Titillium Web', sans-serif;
@font-cutive-mono: "Cutive Mono", monospace;
@font-rasa: Rasa, serif;
@font-awesome: FontAwesome;

@font-sans-serif: @font-titillium-web;
@font-serif: @font-rasa;
@font-monospace: @font-cutive-mono;