@import '../../../_includes/layout.less';
@import '../../../_includes/colors.less';
@import '../../../_includes/fonts.less';
@import '../../../_includes/functions.less';

#dt-nav-header {
  height: 100%;
  display: flex;

  color: @color-dark;

  h1, h2 {
    display: block;
    line-height: @page-top-padding;
    font-family: @font-sans-serif;
  }

  h1 {
    position: relative;
    padding: 0 25px;

    font-size: 28px;
    font-weight: 600;
    letter-spacing: .065em;
    overflow: hidden;

    &:hover {
      background-color: @color-dark-fade-1;
      color: @color-light;
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
    }

    span {
      display: inline-block;

      &:first-child {
        transform: translateY(-8px);
      }

      &:last-child {
        transform: translateY(4px);
      }
    }

    &:after {
      content: '';
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 8px;
      background-color: @color-light;

      top: 150%;
      left: 0;

      box-shadow: 0 0 15px 8px @color-light;

      transform: rotate(10deg);
    }

    &:hover:after {
      transition: top 600ms;
      top: -150%;
    }
  }

  h2 {
    padding-left: 15px;

    color: @color-dark-fade-2;

    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    text-transform: lowercase;
  }
}