@import '../../_includes/layout.less';
@import '../../_includes/colors.less';
@import '../../_includes/fonts.less';
@import '../../_includes/functions.less';

@font-body-h1: @font-sans-serif;
@font-body-h2: @font-sans-serif;
@font-body-h3: @font-sans-serif;

@font-body-p: @font-serif;
@font-body-pre: @font-monospace;

#main {
  box-sizing: border-box;
  padding: 30px;

  width: 800px;
  margin: 0 auto;

  h1, h2, h3, p {
    margin: 15px 0;
  }

  h1 {
    font-family: @font-body-h1;
    font-size: 38px;
  }

  h2 {
    font-family: @font-body-h2;
    text-transform: uppercase;
    font-size: 28px;
  }

  h3 {
    font-family: @font-body-h3;
    text-transform: uppercase;
    font-size: 22px;
  }

  p {
    font-family: @font-body-p;
    font-size: 24px;
    line-height: 1.2em;
  }

  pre {
    font-family: @font-monospace;

    display: block;

    padding: 20px;

    color: @color-light;
    font-size: 18px;

    background-color: fadeout(#000000, 20%);
  }

  .gutter {
    border-radius: 3px 0 0 3px;
    overflow: hidden;

    pre {
      padding-right: 10px;
      .line:after {
        content: '.';
      }
    }
  }

  .code {
    border-radius: 0 3px 3px 0;
    overflow: hidden;

    pre {
      padding-left: 10px;
    }
  }
}