<li class="dt-nav-item dt-social-list">
    <ul class="dt-icon-list">
        <li>
            <a target="_blank" href="<%- theme.social.github %>" class="fa fa-github"></a>
        </li>
        <li>
            <a target="_blank" href="<%- theme.social.linkedin %>" class="fa fa-linkedin-square"></a>
        </li>
        <li>
            <a target="_blank" href="<%- theme.social.twitter %>" class="fa fa-twitter"></a>
        </li>
    </ul>
</li>