@import "./../../_includes/colors.less";
@import "./../../_includes/fonts.less";
@import "./../../_includes/functions.less";
@import "./../../_includes/layout.less";

.dt-header {
  display: flex;
  border-bottom: @header-border-width @color-dark solid;
  position: fixed;
  top: 0;
  width: 100%;
}