@import (reference) "_includes/layout.less";
@import (reference) "_includes/colors.less";
@import (reference) "_includes/fonts.less";
@import (reference) "_includes/functions.less";

.dt-index {
  width: 100%;

  .dt-highlights {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .twitter-tweet {
      margin: 0 1%;
      align-self: center;
      flex-basis: 31.1%;
    }
  }
}