<li class="dt-nav-item dt-dropdown">
    <a class="dt-dropbtn"><%- title %></a>
    <ul class="dt-dropdown-content">
<% links.forEach(function (link) { %>
        <li><a href="<%- link.href %>"><%- link.title %></a></li>
<% }) %>
    </ul>
</li>