<a href="/" id="dt-header-title">
    <h1 class="dt-header-title">
        <span class="dt-header-title-word"><%= title.split(' ')[0] %></span>
        <span class="dt-header-title-word"><%= title.split(' ')[1] %></span>
    </h1>
</a>