<ul class="dt-header-social">
    <li class="dt-header-social-list-item">
        <a target="_blank" href="<%- theme.social.github %>" class="fa fa-github"></a>
    </li>
    <li class="dt-header-social-list-item">
        <a target="_blank" href="<%- theme.social.linkedin %>" class="fa fa-linkedin-square"></a>
    </li>
    <li class="dt-header-social-list-item">
        <a target="_blank" href="<%- theme.social.twitter %>" class="fa fa-twitter"></a>
    </li>
</ul>