<!--
    TODO: (Semantic Web fix) <h1/> and <h2/> need to be in within a <banner/> element
-->
<nav id="dt-nav">
    <%- partial('title/title.ejs', { title: config.title, subtitle: config.subtitle }) %>
    <%- partial('nav/nav.ejs', { links: theme.links }) %>
</nav>