<!--
    TODO: (Semantic Web fix) <h1/> and <h2/> need to be in within a <banner/> element
-->
<nav id="dt-nav">
    <%- partial('title/title.ejs', { title: config.title, subtitle: config.subtitle }) %>

    <ul class="dt-nav-list">
<% theme.links.forEach(function (link) { %>
    <% if (link.href) { %>
        <%- partial('nav/link/link.ejs', link) %>
    <% } else if (link.links) { %>
        <%- partial('nav/dropdown/dropdown.ejs', link) %>
    <% } %>
<% }); %>

        <%- partial('nav/social/social.ejs') %>
    </ul>
</nav>