<a href="/" id="dt-header-title">
    <h1 class="dt-header-title">
        <span class="dt-header-title-word">Disjointed</span>
        <span class="dt-header-title-word">Thinking</span>
    </h1>
</a>