@import '../../_includes/layout.less';
@import '../../_includes/colors.less';
@import '../../_includes/fonts.less';
@import '../../_includes/functions.less';

#dt-header {
  border-bottom: 2px solid @color-dark;

  z-index: 2;
  position: relative;
  height: 375px;
  width: 100%;
  box-sizing: border-box;

  &.date-shown {
    margin-bottom: 30px;
  }

  h1, h2 {
    span {
      display: inline-block;
      padding: 20px;
    }
  }

  h1 {
    box-sizing: border-box;

    //.stroke(1px, @color-dark);
    font-family: @font-sans-serif;

    z-index: 2;
    font-weight: 500;
    position: absolute;
    right: 0;
    bottom: 0;

    width: 100%;

    text-align: right;

    font-size: 60px;

    color: @color-light;

    background-color: @color-dark-fade-2;
  }

  h2 {
    font-family: @font-sans-serif;
    position: absolute;
    right: 10px;
    bottom: -65px;
    font-weight: 300;
    font-size: 30px;
    color: @color-dark-alt-fade-1;
    text-align: right;
  }
}