@import '../../_includes/layout.less';
@import '../../_includes/colors.less';
@import '../../_includes/fonts.less';
@import '../../_includes/functions.less';

#dt-nav {
  text-transform: uppercase;
  z-index: 98;
  background-color: @color-light;
  height: @page-top-padding;

  width: 100%;

  position: fixed;
  top: 0; left: 0;

  border-bottom: 2px @color-dark solid;

  display: flex;

  a {
    display: block;
    line-height: @page-top-padding;
    font-family: @font-sans-serif;

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .dt-nav-list {
    margin-right: 0;
    margin-left: auto;

    display: flex;

    > li:not(.dt-social-list) {

      a {
        padding: 0 25px;
      }

      &:hover {
        background-color: @color-dark-fade-1;
        color: @color-light;
      }
    }
  }

  .dt-nav-item {
    height: @page-top-padding;
    vertical-align: middle;
    line-height: @page-top-padding;
    font-size: 20px;
    font-family: @font-sans-serif;

    cursor: pointer;

    &:nth-last-child(2) {
      margin-right: 50px;
    }
  }

  .dt-social-list {
    cursor: default;

    .dt-icon-list {
      vertical-align: middle;
      height: @page-top-padding;
      line-height: @page-top-padding;
    }

    li {
      padding-right: 25px;
      display: inline-block;

      .fa {
        color: @color-dark-fade-2;
        font-family: @font-awesome;
        cursor: pointer;

        vertical-align: middle;
        display: inline-block;
        font-size: 20px;

        transform: scale(1);
        transition: all 75ms ease;
        transform-origin: 28%;

        &:hover {
          transform: scale(1.7);
          color: @color-dark;
        }
      }
    }
  }

  .dt-dropdown {
    position: relative;
    display: block;
    z-index: 99;
    cursor: pointer;
  }

  .dt-dropbtn {
    font-family: @font-sans-serif;
    background: none;
    border: none;
    height: 100%;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }

  .dt-dropdown-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 250ms ease;
    position: absolute;

    right: 0;
    font-size: 16px;
  }

  .dt-dropdown-content li {
    white-space: nowrap;
    height: 40px;

    text-decoration: none;
    display: block;
    color: white;
    font-family: @font-sans-serif;
    background-color: @color-dark-fade-2;
    cursor: pointer;
    transition: background-color 150ms ease;

    a {
      padding: 0 0 0 6px;
      line-height: 40px;
      color: inherit;
      text-decoration: none;
    }
  }

  .dt-dropdown-content li:hover {
    background-color: @color-dark-fade-1;

  }

  .dt-dropdown:hover {
    z-index: 100;
  }

  .dt-dropdown:hover .dt-dropdown-content {
    max-height: 500px;
  }
}