<a class="dt-image-card" href="<%- url_for(path) %>">
    <img src="<%- image %>" />
    <% if (typeof title !== 'undefined') { %>
    <h2 class="dt-image-card-title"><%- title %></h2>
    <% } %>
</a>