@import (reference) "colors.less";
@import (reference) "fonts.less";
@import (reference) "functions.less";

// HEADER STYLES //

// The height of the affixed header
@header-font-size: 28px;
@header-height: 50px;
@header-border-width: 2px;
@header-item-padding: 0 25px;
.header-section() {
  line-height: @header-height;
  font-family: @font-sans-serif;
  padding: @header-item-padding;
}
.header-link() {
  text-decoration: none;
}

// BANNER STYLES //
//The height of the banner
@banner-height: 375px;