<%
    page.image = '/images/stone-pathway-wallpaper-1.jpg';
    page.image_offset = '0 20%'
    page.title = 'Archive';
%>

<div id="dt-archive">
    <% page.posts.each(function(post, i) { %>
        <div class="dt-archive-item">
            <a href="/<%- post.path %>">
                <%- post.title %> - <%- post.date.format("MMM Do YYYY") %>
            </a>
        </div>
    <% }) %>
</div>