<!--
    TODO: (Semantic Web fix) <h1/> and <h2/> need to be in within a <header/> element
-->
<nav id="dt-nav">
    <%- partial('nav-header/nav-header.ejs', { title: config.title, subtitle: config.subtitle }) %>

    <ul class="dt-nav-list">
        <% theme.links.forEach(function (link) { %>
            <% if (link.href) { %>
                <%- partial('nav-link.ejs', link) %>
            <% } else if (link.links) { %>
                <%- partial('nav-dropdown.ejs', link) %>
            <% } %>
        <% }); %>

        <%- partial('nav-social.ejs') %>
    </ul>
</nav>