@import '../../_variables/layout.less';
@import '../../_variables/colors.less';
@import '../../_variables/fonts.less';

#nav {
  text-transform: uppercase;
  z-index: 98;
  background-color: #ffffff;
  height: @navbar-height;

  width: 100%;

  position: fixed;
  top: 0; left: 0;

  border-bottom: 2px #000000 solid;

  display: flex;

  h1, h2, a {
    display: block;
    line-height: @navbar-height;
    font-family: @font-titillium-web;
    vertical-align: middle;

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  h1 {
    padding-left: 25px;

    font-size: 28px;
    font-weight: 600;
    letter-spacing: .065em;

    span {
      &:first-child {
        transform: translateY(-8px);
      }

      //&:last-child {
      //  transform: translateY(2px)
      //}
    }
  }

  h2 {
    padding-left: 15px;

    opacity: 0.5;

    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    text-transform: lowercase;
  }

  .dt-nav-list {
    margin-right: 0;
    margin-left: auto;

    display: flex;

    > li:not(.dt-social-list) {
      padding: 0 10px;

      &:hover {
        background-color: fadeout(#000000, 20%);
        color: #ffffff;
      }
    }
  }

  .dt-nav-item {
    height: @navbar-height;
    vertical-align: middle;
    line-height: @navbar-height;
    font-size: 20px;
    font-family: @font-titillium-web;
    margin-right: 25px;
    cursor: pointer;
  }

  .dt-social-list {
    height: @navbar-height;

    .dt-icon-list {
      vertical-align: middle;
      height: @navbar-height;
      line-height: @navbar-height;
    }

    .fa {
      cursor: pointer;
      padding-right: 25px;
      vertical-align: middle;
      display: inline;
      font-size: 20px;

      span {
        font-family: @font-titillium-web;
        display: inline-block;
      }
    }
  }

  .dt-dropdown {
    margin-right: 75px;
    position: relative;
    display: block;
    height: 100%;
    z-index: 99;
  }

  .dt-dropbtn {
    font-family: @font-titillium-web;
    background: none;
    border: none;
    cursor: pointer;
    height: 100%;
    font-size: 20px;
    padding: 0;
    margin: 0;
  }

  .dt-dropdown-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 250ms ease;
    position: absolute;
    min-width: 160px;
    right: 0;
  }

  .dt-dropdown-content li {
    padding: 0 0 0 6px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    display: block;
    color: white;
    font-family: @font-titillium-web;
    background-color: fadeout(#000000, 50%);
    cursor: pointer;
    transition: background-color 150ms ease;
  }

  .dt-dropdown-content li:hover {
    background-color: #000000;

  }

  .dt-dropdown:hover {
    z-index: 100;
  }

  .dt-dropdown:hover .dt-dropdown-content {
    max-height: 500px;
  }
}