<!--
    TODO: (Semantic Web fix) <h1/> and <h2/> need to be in within a <header/> element
-->
<nav id="nav">
    <h1><span>Disjointed</span> <span>Thinking</span></h1>
    <h2><span>A blog by Matt Whitaker</span></h2>
    <ul class="dt-nav-list">
        <li class="dt-nav-item">About</li>
        <li class="dt-nav-item">Archive</li>
        <li class="dt-dropdown">
            <a class="dt-dropbtn">Work</a>
            <ul class="dt-dropdown-content">
                <li href="#">Project 1</li>
                <li href="#">Link 2</li>
                <li href="#">Link 3</li>
            </ul>
        </li>
        <li class="dt-social-list">
            <ul class="dt-icon-list">
                <li class="fa fa-github"><!--<span>matt-whitaker</span>--></li>
                <li class="fa fa-linkedin-square"><!--<span>whitakermatt</span>--></li>
                <li class="fa fa-twitter"><!--<span>__mattwhitaker</span>--></li>
            </ul>
        </li>
    </ul>
</nav>